/* {outline: 1px solid red;} */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, p, a {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1 {
  font-size: 55px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

h3, div.filter-sort-by {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

h4 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.block-slider {
  height: 432px;
  width: 1160px;
}

.slide {
  transition: transform 0s ease;
  width: 300%;

}

.slider-inner {
  overflow: hidden;
}

.block-slider input[type=radio] {
  display: none;
}

.slides-controls {
    position: absolute;
    bottom: 90px;
    right: 544px;
    vertical-align: 0%;
    z-index: 100;
}

.slides-controls label {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 5px #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    margin-right: 13px;
    cursor: pointer;
}

#toggle-1:checked ~ .slides-controls label[for="toggle-1"],
#toggle-2:checked ~ .slides-controls label[for="toggle-2"],
#toggle-3:checked ~ .slides-controls label[for="toggle-3"] {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    /*border: ;*/
    box-shadow: 
      inset 0 0 0 5px #ffffff,
      inset 0 0 0 7px #c1c1c1;
}

.slide-1 {
  float: left;
  width: 1160px;
  height: 432px;
  background-image: url("../img/slide1_bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.slide-2 {
  float: left;
  width: 1160px;
  height: 432px;
  background-image: url("../img/slide2_bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.slide-3 {
  float: left;
  width: 1160px;
  height: 432px;
  background-image: url("../img/slide3_bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}


#toggle-1:checked ~ .slider-inner .slide {
    transform: translate(0);
}

#toggle-2:checked ~ .slider-inner .slide {
    transform: translate(-1160px);
}

#toggle-3:checked ~ .slider-inner .slide {
    transform: translate(-2320px);
}

.logo,
.logo-index {
  float: left;
  margin-right: 179px;
  width: 160px;
  height: 65px;
}

.logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logo:active {
  opacity: 0.3;
}

.header-main {
  background-color: #eeeeee;
  min-width: 1200px;
  min-height: 355px;
}

.container {
  position: relative;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.navigation-main {
  margin: 0;
  margin-top: 49px;
  padding: 0;
  font-size: 0px;
  min-height: 65px;
  width: 1160px;
}

.navigation-main ul,
.block-cart {
  float: left;
  display: inline-block;
  vertical-align: 50%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.block-cart {
  float: right;
  max-width: 120px;
}

.navigation-main a {
  display: inline-block;
  margin-top: 31px;
  padding: 0 21px;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-main a:hover {
  color: #fb565a;
}

.navigation-main a:active {
  color: #bdbdbd;
}

.navigation-main .active {
  position: relative;
  padding-bottom: 11px;
  cursor: default;
}

.navigation-main .active::after {
  position: absolute;
  bottom: 0;
  left: 22px;
  right: 22px;
  content: "";
  height: 2px;
  background-color: #fb565a;
}

.navigation-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-main li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.navigation-main li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.navigation-main li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.block-cart {
  display: inline-block;
  max-width: 120px;
  text-align: right;
}

.block-cart a {
  margin-top: 29px;
  padding-right: 0;
  padding-left: 40px;
}

a.logo {
  margin-top: 0;
  padding: 0;
  float: left;
}

.block-slider .slide h1 {
  padding-top: 78px;
  margin-bottom: 25px;
  max-width: 560px;
  text-align: left;
}

.container h1 {
  margin-bottom: 40px;
}

.slide p {
  max-width: 420px;
  line-height: 24px;
  margin-bottom: 40px;
}

.advantages {
  content: "";
  display: table;
  clear: both;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  max-width: 1160px;
  font-size: 0;
  border-bottom: 2px solid #eeeeee;
}

.advantages-item:first-child {
  background: url(../img/advantages-sites.png) no-repeat top center;
}

.advantages-item {
  margin-right: 100px;
  width: 300px;
  float: left;
  font-size: 16px;
  line-height: 24px;
  background: url(../img/advantages-apps.png) no-repeat top center;
  padding-bottom: 40px;
}

.advantages-item:nth-child(3n) {
  background: url(../img/advantages-presentations.png) no-repeat top center;
  margin-right: 0;
}

.advantages-item h2 {
  padding-top: 170px;
  margin-bottom: 15px;
}

.advantages-item p {
  margin-bottom: 33px;
}

.btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  text-align: top;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #fb565a;
}


.btn-more:hover,
.btn-order:hover,
.btn-contact:hover,
.btn-addtocart:hover {
  background-color: #e74246;
}

.btn-more:active,
.btn-order:active,
.btn-contact:active {
  background-color: #d7373b;
  color: #e38384;
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.btn-addtocart:active {
  background-color: #d7373b;
  color: #ffffff;
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.btn-addtocart {
  margin-top: 20px;
  margin-bottom: 44px;
  width: 123px;
}
.btn-more {
  padding: 16px 54px;
  margin-bottom: 80px;
}

.btn-contact {
  padding: 16px 45px;
}

.advantages-item:nth-child(2) .btn-order {
  background-color: #00ca74;
}

.advantages-item:nth-child(2) .btn-order:hover {
 background-color: #00bc6c;
}

.advantages-item:nth-child(2) .btn-order:active {
  background-color: #00aa62;
  color: #74c69c;
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.advantages-item:nth-child(3) .btn-order {
  background-color: #efc84a;
}

.advantages-item:nth-child(3) .btn-order:hover {
  background-color: #eab534;
}

.advantages-item:nth-child(3) .btn-order:active {
  background-color: #e5a722;
  color: #edc47f;
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.about-us {
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}

.about-left {
  float: left;
  max-width: 700px;
}


.about-us .about-left h4 {
  margin-top: 34px;
  margin-bottom: 33px;
}

.about-left p {
  width: 650px;
  margin-bottom: 39px;
}

.about-left p.about-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: left;
}

.about-right p.about-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: center;
}

.about-right dt {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 19px;
  width: 100px;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.about-right dl {
  display: inline-block;
  margin: 0;
  margin-top: 18px;
  padding-top: 0;
  width: 360px;
}

dd {
  display: inline-block;
  margin: 0;
  margin-right: 13px;
  display: inline-block;
  width: 100px;
  text-align: left;
  line-height: 18px;
}

dt:last-child,
dd:last-child {
  margin-right: 0;
  margin-left: 3px;
}


.about-right sup {
  font-size: 25px;
  font-weight: bold;
  vertical-align: super;
  top: 0;
}

ul.about-list {
  margin-left: 0;
  padding-left: 0;
}

.about-list li {
  list-style: none;
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}
.about-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-right {
  float: right;
  width: 360px;
  padding-top: 244px;
  background: url("../img/about-logo.jpg") no-repeat top left;
}

.footer-map {
  position: relative;
  width: 100%;
  height: 416px;
  z-index: 1;
  margin-bottom: 74px;
}

.contact-tab {
  position: absolute;
  top: 54px;
  left: 20px;
  z-index: 2;
  max-width: 319px;
  height: 308px;
  padding-right: 48px;
  padding-left: 50px;
  background-color: #fff;
}

.contact-tab h3 {
  margin-top: 49px;
  margin-bottom: 23px;
}

.contact-tab p {
  margin-bottom: 19px;
  color: #666666;
  line-height: 18px;
}

.contact-tab p.phone {
  margin-bottom: 37px;
}

.our-clients {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
  min-height: 180px;
  max-width: 1160px;
}

.our-clients a {
  display: inline-block;
  position: relative;
  height: 90px;
  margin: 45px 40px;
  opacity: 0.2;
}

.our-clients a::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 20px;
  right: -45px;
  margin: 0;
  width: 2px;
  height: 52px;
  background: #a8a8a8;
}

.our-clients a:hover::after {
  opacity: 0.2;
}

.our-clients a:last-child::after {
  display: none;
}

.our-clients a:nth-child(4n)::after {
  display: none;
}

.our-clients a:hover {
  opacity: 1;
}
.our-clients a:active {
  opacity: 0.1;
}

.our-clients a:nth-child(4n) {
  margin-right: 32px;
}

h1.inner-header {
  margin-top: 78px;
}

.footer-social {
  float: left;
  margin-right: 103px;
  min-width: 300px;
  height: 80px;
}

.footer-become-frends {
  float: left;
}

.footer-main {
  min-width: 1200px;
}

.footer-become-frends p {
  line-height: 22px;
  margin-bottom: 73px;
}

.footer-become-frends p.big {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.catalog-main {
  margin-top: 52px;
  max-width: 1160px;
}

.catalog-filter {
  float: left;
  width: 360px;
}

.catalog-content {
  float: right;
  width: 760px;
}

.filter-price {
  margin-bottom: 53px;
}

.filter-layout {
  margin-bottom: 27px;
}

.filter-features {
  position: relative;
  margin-bottom: 30px;
}

.filter-features label {
  padding-left: 35px;
  position: relative;
  color: #283136;
  margin-bottom: 16px;
  margin-left: 1px;
  width: 60%;
  cursor: pointer;
}

.filter-features label:hover,
.filter-layout label:hover {
  color: #000000;
}

.filter-layout label {
  padding-left: 35px;
  position: relative;
  color: #283136;
  margin-bottom: 19px;
  margin-left: 1px;
  width: 60%;
  cursor: pointer;
}

.filter-layout input[type="radio"],
.filter-features input[type="checkbox"] {
  display: none;
}

.filter-features input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox.png") no-repeat;
  cursor: pointer;
  opacity: 0.4;
}

.filter-layout input[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  content:"";
  display: block;
  border-radius: 50%;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
}

.filter-layout input[type="radio"]:checked + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  content:"";
  display: block;
  border-radius: 50%;
  border: 3px solid #4d4d4d;
    box-shadow: 
    inset 0 0 0 5px #ffffff,
    inset 0 0 0 10px #4d4d4d;
  opacity: 0.4;
}


.filter-features input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox2.png") no-repeat;
}

.filter-features input[type="checkbox"] + label:hover::before,
.filter-features input[type="checkbox"]:checked + label:hover::before,
.filter-layout input[type="radio"] + label:hover::before,
.filter-layout input[type="radio"]:checked + label:hover::before {
  opacity: 1;
}

.filter-features input[type="checkbox"]:disabled + label::before,
.filter-features input[type="checkbox"]:disabled + label:hover::before,
.filter-layout input[type="radio"]:disabled + label::before,
.filter-layout input[type="radio"]:disabled + label:hover::before,
.filter-layout input:disabled + label,
.filter-features input:disabled + label {
  opacity: 0.35;
  color: #283136;
  cursor: default;
} 

label {
  display: block;
}

.filter-layout label {
  padding-left: 35px;
  position: relative;
  color: #283136;
  margin-bottom: 16px;
  margin-left: 1px;
  width: 60%;
  cursor: pointer;
}

.filter-layout label:hover {
  color: #000000;
}

.catalog-item {
  position: relative;
  float: left;
  margin-right: 40px;
  margin-bottom: 34px;
  height: 576px;
  width: 360px;
  vertical-align: top;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 41px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #e9e9e9;
  transition: 0.25s;
}

.catalog-item .dot {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow:
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
}

.catalog-item:hover {
  background-color: #4d4d4d;
}
.catalog-item:nth-child(odd) {
  margin-right: 0;
}


.catalog-item img {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  text-align: center;
  overflow: hidden;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item .catalog-item-details {
  position: absolute;
  bottom: 0;
  left: 1px;
  background-color: #eeeeee;
  width: 358px;
  min-height: 231px;
  opacity: 0;
  text-align: center;
  transition: 0.25s;
}

.catalog-item:hover .catalog-item-details {
  display: inline-block;
  opacity: 1;

}


.catalog-item-details h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #000000;
  text-decoration: none;
}

.catalog-item-details h3 a {
  color: #000000;
  text-decoration: none;
}

.catalog-item-details p {
  max-width: 240px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 10px;
  text-align: center;
}

.filter-sort {
  width: 760px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: top;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-sort-by {
  display: inline-block;
  width: 360px;
  text-align: left;
}
div.filter-sort-by {
  margin-bottom: 51px;
}

.filter-set {
  float: right;
  display: inline-block;
  text-align: right;
  width: 360px;
  margin-top: 7px;
}

.toggle-increase,
.toggle-decrease {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.toggle-increase {
  border-bottom: 9px solid #cccccc;
  margin-left: 17px;
}

.toggle-increase:hover {
  border-bottom: 9px solid #999999;
}

.toggle-increase:active {
  border-bottom: 9px solid #000000;
}

.toggle-decrease,
.toggle-decrease:hover {
  border-top: 9px solid #000000;
  margin-left: 34px;
}

a.filter-sort-link  {
  margin-left: 14px;
  margin-right: 9px;
  color: #cccccc;
  text-decoration: none;
}

a.filter-sort-link:hover {
  color: #999999;
}

a.filter-sort-link:active {
  color: #000000;
}


.filter-sort-link:last-child {
  margin-right: 0;
}

span.active {
  margin-right: 8px;
}

.filters {
  width: 260px;
}

.range-controls {
  position: relative;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
  height: 41px;
  background: #f1f1f1;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background: #ababab;
  cursor: pointer;
}

.range-controls .min-toggle {
  left: 18px;
}

.range-controls .max-toggle {
  left: 160px;
}

.filters h3:first-child {
  margin-bottom: 51px;
}
.filters h3 {
  margin-bottom: 15px;
}

.filter-price input {
  width: 60px;
  font-family: inherit;
  line-height: 22px;
  padding: 8px 10px;
  margin-left: 8px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

.price-to {
  text-align: right;
}

.filter-price input:nth-child(odd) {
  margin-right: 0;
}

input:focus {
  outline-color: #b4b9bb;
}

.filter-price {
  display: inline-block;
  width: 260px;
  font-size: 0;
}

.filter-price label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/nerds-iconset.png");
  background-repeat: no-repeat;
  background-position: -66px -67px;
}

.btn-social {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 0;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-left: 6px;
  margin-right: 6px;
  background-image: url("../img/nerds-iconset.png");
  background-repeat: no-repeat;
  vertical-align: top;
}

.btn-social:first-child {
  margin-left: 0;
}

.btn-social:hover {
  background-color: #e74246;
}

.btn-social:active {
  background-color: #d7373b;
  background-image: url("../img/nerds-iconset-hover.png");
}

.btn-vk {
 background-position: -185px -184px;
}

.btn-fb {
 background-position: -185px -34px;
}

.btn-inst {
 background-position: -31px -185px;
}

.navigation-page {
  width: 760px;
  margin-bottom: 60px;
  padding-top: 26px;
}
.navigation-page a,
.btn-show {
  display: inline-block;
  width: 38px;
  margin-right: 11px;
  padding: 16px 6px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 3px;
}
.navigation-page a:hover,
.btn-show:hover {
  background-color: #dfdfdf;
}

.navigation-page a:active,
.btn-show:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.btn-show {
  width: 260px;
  font-size: 16px;
  height: 50px;
  background-color: #eeeeee;
  border: 0;
}

.btn-show:active,
.btn-show:focus {
  outline: 0;
}

a.page-next {
    padding: 16px 60px;
    margin-right: 0;
    width: 140px;
}

.navigation-page .active-page {
  display: inline-block;
  margin-right: 11px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
  padding: 13px 18px;
  line-height: 18px;
}